body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.red{
    color: brown;
}
.flexibale-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width image{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background:tomato;
    padding: 10px 40px;
    border-radius: 8px;
    color: rgb(198, 16, 214);
}
.top-button{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png);
   
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px goldenrod;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
 .experience-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
    background-position: left;
 }

 #full-web-developer{
     border-left:7px solid;
   border-image: linear-gradient(salmon,tomato);
   border-image-slice: 1;
 }

 #baby-web-developer{
    border-left:7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1; 
 }
 footer p{
     text-align: center;
 }